body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 600; 
  display: flex;
  justify-content: center;
  align-items: center;

  --easeIn: cubic-bezier(0.9, 0.025, 0.75, 0.625);
  --easeOut: cubic-bezier(0.25, 0.375, 0.1, 0.975);
  --easeInOut: cubic-bezier(0.66, 0.025, 0.33, 0.975);
  --instant: 85ms;
  --short: 250ms;
  --medium: 420ms;
  --semilong: 500ms;
  --long: 800ms;
}

* { box-sizing: border-box; }

/*.app {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

}
*/

/*NAVBAR*/

.navBar {
  width: 100%;
/*  height: 80px;
*/background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  padding: 16px;
  z-index: 10000;
  margin-bottom: 80px;

}

.navIcon {
  padding: 12px;
  cursor: pointer;
}

.navItem {
  font-size: 16;
  padding: 14.5px 16px 14.5px 16px;
  margin: 0;

}

.navSearch {
  font-size: 16px;
  color: #767676;
  font-weight: 400;
  background-color: #efefef;
  padding: 14px 16px 14px;
  border-radius: 24px;
  flex-grow: 2;
  margin-left: 8px;
  margin-right: 8px;
}


.bottom-right {
  position: fixed;
  bottom: 32px;
  right: 32px;
  display: flex;
  flex-direction: column;
}

.bottom-right-icon {
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  padding: 14px;
  border-radius: 2000px;
  margin: 8px;

}

/*GRID*/

.grid {
  width: 1496px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 88px;
}

.grid:after {
  display: block;
  content: '';
  clear: both;
}

.grid-col {
  width: 236px;
  float: left;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  /* margin-right: 2%; */
}

.grid-col--6 { 
  margin-right: 0;
}


.grid-item {
  background: #efefef;
  margin-bottom: 16px;
  border-radius: 16px;
  cursor: pointer;
}

.grid-item--a { 
  height:  236px; 
}

.grid-item--b { 
  height: 394px; 
}

.grid-item--c { 
  height: 360px; 
}


/*MODAL GLOBAL
*/

.modal {
  width: 248px;
  left: 32px;
  bottom: 32px;
  border-radius: 16px;
  overflow: hidden;
  position: fixed;
  background-color: #ffffff; 
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  /* flex-wrap: wrap; */

}

/*.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  position: absolute;
  border: 1px solid tomato;

}*/

.modal-X {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.modal-collapsed {
  width: 100%;
  height: 100%;
  background-color: #007cff;
  transition: var(--instant) var(--easeInOut);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
}


.masonry-bg {
/*  position: absolute; */
  width: 100%;
  height: 164px;
  background-color: #007cff;
  border-radius: 16px 16px 0px 0px;
  position: relative;
  overflow: hidden;
  
}


.modal-dots-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 8px;
  position: absolute;
  margin-top: 20px;
}

.modal-dot {
  height: 8px;
  width: 8px;
  background-color: rgba(255,255,255,.4);
  border-radius: 1000px;
  margin: 0px 4px 0px 4px;

}

.modal-dot-active {
  background-color: rgba(255,255,255,1);
}


/* .hide {
  height: 0;
  transition: var(--short) var(--easeInOut);
} */

/*MODAL HF*/

.masonry { /* Masonry container */
  column-count: 5;
  column-gap: 4px;
  width: 120%;
  height: 120%;
  margin-top: -14%;
  margin-left: -10%;
  padding-top: 14%;

}


.item { /* Masonry bricks or child elements */
  margin-bottom: 4px;
  border-radius: 8px; 
  border: 1px solid rgba(255,255,255,.6); 
  height: 80px;

}

.item-medium {
  height: 72px;
}

.item-short {
  height: 64px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal-content-cards {
  display: flex;
  flex-direction: row;
  width: 200%;
  transition: var(--short);
  transition-timing-function: var(--easeInOut);
/*  margin-left: 100%;*/
}



.modal-text {
  text-align: center;
  font-size: 16px;
  padding: 0px 16px 0px 16px;
  font-weight: 600;
  margin: 16px 0px 8px 0px;

}

.modal-subtext {
  text-align: center;
  color: black;
  padding: 0px 16px 0px 16px;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 16px;

/*  padding: 0px 16px 0px 16px;
/*  font-weight: 500;
  margin-top: 16px 0px 16px 0px;*/
  /* margin-top: 16px; */
}

.modal-text-collapsed {
  color: #ffff; 
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  width: 85%;
  position: relative;
  height: 2.3em;

}

.modal-button {
  padding: 14.5px 16px 16px 14.5px;
  border-radius: 24px;
  background-color: #efefef;
  font-size: 16px;
  font-weight: 500;
  margin: 0px 0px 16px 0px;
  cursor: pointer;

}


/*CLOSEUP*/



.back {
  position: fixed;
  top: 104px;
  left: 20px;
  cursor:pointer;
}

.closeup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeupContainer {
  width: 1016px;
  height: 40em;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  margin-top: 96px;
  display: flex;
  flex-direction: row;
}

.closeupImage {
/*  background-image: url("../img/pin33.jpg");*/
  background-size: cover;
  background-position: center center;
  width: 50%;
  height: 100%;
  border-radius: 32px 0px 0px 32px;
  z-index: 30000;

}

.closeupContent {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.closeupTop {

}

.closeupActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.closeupIcons {
  margin-left: -12px;

}

.closeupIcon {
  padding: 12px;
  cursor: pointer;

}

.saveButton {
  padding: 14.5px 16px 14.5px 16px;
  background-color: #E60023;
  color: #ffffff;
  border-radius: 24px;

}

h1 {
  font-size: 36px;
  font-weight: 500;
}

h2 {
  font-size: 20px;
  font-weight: 450;
  text-align: center;
}

h3 {
  font-size: 16px;
  text-decoration-line: underline;
  font-weight: 350;
}


.closeupFollow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.closeupAvatar {
  height: 40px;
  width: 40px;
}


.closeupFollowLeft {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.closeupText {
  margin-left: 8px;
  font-weight: normal;
}

.followButton {
  padding: 14.5px 16px 14.5px 16px;
  background-color: #Efefef;
  color: #333333;
  border-radius: 24px;
}

.closeupAttribution {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.relatedIdeas {
  margin-top: 48px;

}

.relatedIdeas .grid {
  margin-top: 32px;
}


/*MODAL CLOSEUP*/

.modal-closeup {
  width: 180px;
  height: 96px;
  border: 1px solid white;
  border-radius: 0px 16px 0px 0px;
/*  margin-left: -5;*/
  display: flex;
  flex-direction: row;
  position: absolute;
/*  top: 30px;*/
  bottom: -1px;
}

.modal-closeup-left {
  background-color: #ffffff;
  opacity: .8;
  flex-grow: 1;

}

.modal-closeup-right {
  flex-grow: 1;

  
}

.modal-save {
  background-color: #ffffff;
  padding: 8px;
  color: #333333;
  border-radius: 32px; 
  font-size: 12px; 

}

.modal-closeup-right .modal-save {
  position: absolute;
  top: 6px;
  right: 6px;

}


.item-main .modal-save {
  position: relative;
  transform: scale(.4);
  display: inline-block;
/*  transform-origin: 0 0;*/
  top: -6px;
  right: -20px;
/*  padding: 8px;*/
/*  width: 100%;*/
}
 

/*ANIMATION*/


/*@keyframes clicking {
  0%{transform: scale(1) }
  30%{transform: scale(1) }
  50%{transform: scale(1.1) }
  90%{transform: scale(1) }
  100% {transform: scale(1) }
}*/

@keyframes clicking {
  0%{transform: scale(1)}
  30%{transform: scale(1.2) translate3d(15px, 0, 0)}
  90%{transform: scale(1) }
  100% {transform: scale(1) }
}

@keyframes buttonClicked {
  0%{transform: scale(1) }
  70% {transform: scale(1) }
  80%{transform: scale(1.1) }
  100% {transform: scale(1) }
}


@keyframes buttonClickedHF {
  0%{transform: scale(.4) }
  70% {transform: scale(.4) }
  80%{transform: scale(.45) }
  100% {transform: scale(.4) }
}



@keyframes clickingArc {
  0%{transform: rotate(10deg) translate3d(15px, 0, 0)  }
  60%{transform: rotate(-10deg) translate3d(-15px, 0, 0) scale(.8) }
  100% {transform: rotate(-10deg) translate3d(-15px, 0, 0) scale(.8)}
}


@keyframes pinClicked {
  0%{background: rgba(0,0,0,0) }
  30% {background: #ffffff; transform: scale(1.3)}
  50% {background: #ffffff; transform:scale(1.3)}
  /* 51% {transform: scale(1.2)} */
  80% {background: #ffffff; transform: scale(1.3)}
  /* 90% {background: rgba(0,0,0,0)} */
  /* 80%{background: #ffffff} */
  100%{background: rgba(0,0,0,0) }
}

@keyframes fade {
  0%, 45% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
  }
  100% {
    transform: scale(2.5) translateY(4px)
  }
}



/* @media ( min-width: 1260px ) {
  .grid-col--4 { display: block; }
}



@media ( min-width: 1260px ) {
  .grid-col--5 { display: block; }
}


@media ( min-width: 1496px ) {
  .grid-col--6 { display: block; }
} */